attrs==20.3.0
configparser==5.0.1
coverage==5.3
drain3==0.8.6
importlib-metadata==3.1.1
iniconfig==1.1.1
jsonformatter==0.3.0
jsonpickle==1.4.1
numpy==1.19.4
packaging==20.8
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
toml==0.10.2
zipp==3.4.0
