configparser==5.0.1
coverage==5.3
decorator==4.4.2
drain3==0.8.6
editconfig==0.1.2
h5py==2.10.0
iniconfig==1.1.1
jsonformatter==0.3.0
jsonpickle==1.4.1
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
numpy==1.19.4
patch==1.16
pickleshare==0.7.5
tensorboard==2.4.0
tensorboard-plugin-profile==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0

